<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>One dot jpg</title>
  </head>
  <body>
    <form action="/slides">
      <label for="jpg_url">1.jpg URL</label>
      <input type="text" name="url" size="100" id="jpg_url" />
      <input type="submit" />
    </form>
  </body>
</html>