<!DOCTYPE html>
<html>
  <head>
    <title>One dot jpg</title>
    <link rel="stylesheet" href="/stylesheets/slides.css">
  </head>
  <body>
    <form method="get" action="/slides">
      <p>
        <label for="jpg_url">#1.</label>
        <input type="text" name="url" size="100" id="jpg_url" />
      </p>
    </form>
    <script>window.onload = function() { document.getElementById('jpg_url').focus(); }</script>
  </body>
</html>
