<!DOCTYPE html>
<html>
  <head>
    <title>Slides</title>
    <link rel="stylesheet" href="/stylesheets/slides.css" type="text/css" media="screen">
  </head>
  <body>
    <div id="controls">
      <span>Use &#8592; &amp; &#8594; arrow keys</span>
      <div id="pos"><%= @position %></div>
      <div class="new"><a href="/">Change URL</a></div>
    </div>

    <div id="slides"></div>

    <script>var jpg_url = '<%= @jpg_url %>', currentPosition = <%= @position %>;</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
    <script src="/javascript/slides.js" type="text/javascript"></script>
  </body>
</html>
