body {
  background: #222;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: verdana;
}
form p {
  font-size: 2em;
  color: #0a6;
  margin: 3em auto;
}
label {
}
input[type=text] {
  font-size: 1.2em;
  width: 75%;
  background-color: #222;
  color: #aaa;
  border: 1px solid #444;
  padding: 10px;
  outline: none;
}
#controls {
  text-align: center;
  margin: 0 auto;
  padding: 1em 0 1em 0;
  color: #CCC;
  border-bottom: 1px solid #333;
}
#controls span {
  float: left;
  font-style: italic;
  padding-left: 1em;
}
